websiteDir: '/sites/website/'
url: 'https://example.com'
hostname: 'box'
username: 'linux'
prompt: '{username}@{hostname}:{cwd}$' # {cwd} added at runtime
ignored:
  - 'index.html'
  - '*.css'
  - '*.js'
  - 'icon.ico'
  - 'robots.txt'
  - '40?.html'
  - 'autoindex.html'
  - '/media'
  - '/.git'
  - '.gitignore'
  - 'README.md'
  - 'LICENSE'
forceDir:
  - '/dump'
logo: |- # Needs leading character, will be eaten at runtime
    .    .--.
       |o_o |
       |:_/ |
      //   \ \
     (|     | )
    /'\_   _/`\
    \___)=(___/
rootPreamble:
  - 'Last login: Wed Sep  4 21:09:15 2024 from 192.168.0.1'
rootLogo: |- # Needs leading character
    .  TUX_OS
    {logo}
rootPostamble:
  - 'System time is Sat Sep 04 2024 22:49:04'
rootHeaders:
embedTitle: '{hostname}:{cwd}'
embedDesc: 'My website!'
embedImage: '{url}/icon.png'
embedColor: '#0040ff'
txtCommand: 'cat'
mdCommand: 'cat'
htmlCommand: 'lynx --dump'